@font-face {
  font-family: 'Fakt ProUI';
  src: url("../fonts/FaktProUI-SemiBold.woff2") format("woff2"), url("../fonts/FaktProUI-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Fakt ProUI Blond';
  src: url("../fonts/FaktProUI-Blond.woff2") format("woff2"), url("../fonts/FaktProUI-Blond.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Fakt ProUI';
  src: url("../fonts/FaktProUI-Bold.woff2") format("woff2"), url("../fonts/FaktProUI-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: '../fonts/Fakt ProUI Normal';
  src: url("../fonts/FaktProUI-Normal.woff2") format("woff2"), url("../fonts/FaktProUI-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Fakt ProUI';
  src: url("../fonts/FaktProUI-Medium.woff2") format("woff2"), url("../fonts/FaktProUI-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

body {
  background: #FFFFFF;
  font-family: 'Fakt ProUI', Helvetica, sans-serif; }

#main .app-container {
  width: 100%;
  padding-top: 10px; }
  #main .app-container-header {
    max-width: 960px;
    margin: auto; }
    #main .app-container-header a {
      color: black;
      text-decoration: none; }
      #main .app-container-header a img {
        vertical-align: middle;
        display: inline-flex; }
      #main .app-container-header a h1 {
        margin-left: 10px;
        display: inline-flex; }
  #main .app-container .app-content {
    width: 100%;
    padding-top: 20px; }
    #main .app-container .app-content .ebook-list .ebook-table {
      width: 100%;
      margin-top: 10px;
      border-collapse: collapse; }
      #main .app-container .app-content .ebook-list .ebook-table thead tr {
        background: #eb5424;
        color: #FFFFFF; }
        #main .app-container .app-content .ebook-list .ebook-table thead tr th {
          padding: 10px;
          text-align: left; }
        #main .app-container .app-content .ebook-list .ebook-table thead tr .id-header {
          width: 10%; }
        #main .app-container .app-content .ebook-list .ebook-table thead tr .name-header {
          width: 70%; }
        #main .app-container .app-content .ebook-list .ebook-table thead tr .author-header {
          width: 20%; }
      #main .app-container .app-content .ebook-list .ebook-table tbody tr td {
        padding: 5px; }
        #main .app-container .app-content .ebook-list .ebook-table tbody tr td a {
          color: #182c71;
          text-decoration: none; }
          #main .app-container .app-content .ebook-list .ebook-table tbody tr td a:hover {
            opacity: 0.8; }
      #main .app-container .app-content .ebook-list .ebook-table tbody tr:nth-child(even) {
        background: #CCC; }

.ebook-page-main {
  width: 100%;
  display: block; }
  .ebook-page-main .ebook-author-wrapper {
    width: 100%;
    background: #183082;
    padding-bottom: 250px;
    display: flex; }
  .ebook-page-main .footer-wrapper {
    width: 100%;
    display: flex; }
  .ebook-page-main .ebook-info-wrapper, .ebook-page-main .footer-content, .ebook-page-main .author {
    max-width: 950px;
    margin: auto; }
  .ebook-page-main .footer-content {
    margin-top: -200px;
    margin-bottom: 15px;
    background: #f8f8f8;
    text-align: center;
    padding-bottom: 40px;
    box-shadow: 2px 10px 15px 0px #a8a8a8; }
    .ebook-page-main .footer-content-logo {
      margin-top: 40px;
      margin-bottom: 30px; }
    .ebook-page-main .footer-content-title {
      width: 100%;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.5; }
    .ebook-page-main .footer-content-text {
      width: 60%;
      margin: auto;
      margin-top: 30px;
      font-size: 15px;
      font-weight: normal; }
    .ebook-page-main .footer-content-features {
      list-style: none;
      margin-top: 30px; }
      .ebook-page-main .footer-content-features li {
        display: inline-flex;
        background: url(/img/feature-icon.png) no-repeat;
        padding-left: 40px;
        font-size: 15px;
        font-weight: normal;
        padding-top: 5px;
        height: 35px;
        margin-left: 30px; }
    .ebook-page-main .footer-content-buttons {
      margin-top: 30px; }
      .ebook-page-main .footer-content-buttons .regular-btn {
        color: #4a4a4a;
        border: solid 1px #4a4a4a;
        width: 240px;
        height: 60px;
        text-align: center;
        text-transform: uppercase;
        border-radius: 4px;
        display: inline-flex;
        margin-left: 10px;
        border-color: #cccccc; }
        .ebook-page-main .footer-content-buttons .regular-btn:hover {
          cursor: pointer; }
        .ebook-page-main .footer-content-buttons .regular-btn span {
          margin: auto; }
        .ebook-page-main .footer-content-buttons .regular-btn a {
          margin: auto;
          text-decoration: none;
          color: #4a4a4a; }
        @media (max-width: 510px) {
          .ebook-page-main .footer-content-buttons .regular-btn {
            margin-top: 20px;
            margin-left: 0px; } }
      .ebook-page-main .footer-content-buttons .orange-btn {
        background: #eb5424;
        border-color: #eb5424;
        color: #FFFFFF; }

.ebook-thumb-wrapper {
  width: 100%;
  text-align: center; }
  @media (min-width: 950px) {
    .ebook-thumb-wrapper {
      float: left;
      width: 360px; } }
  .ebook-thumb-wrapper img {
    box-shadow: 2px 10px 15px 0px #a8a8a8; }

.right-container {
  width: 100%;
  text-align: center; }
  @media (min-width: 950px) {
    .right-container {
      float: right;
      margin-left: 40px;
      width: calc( 100% - 400px);
      text-align: left; } }

.ebook-summary {
  margin-bottom: 30px;
  color: #333333; }
  .ebook-summary-title {
    width: 100%;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.5; }
  .ebook-summary-author {
    margin-top: 30px;
    display: block;
    font-size: 15px; }
  .ebook-summary-version {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    text-transform: uppercase;
    color: #9b9b9b; }
    .ebook-summary-version img {
      vertical-align: middle; }

.ebook-contents {
  width: 100%; }
  @media (min-width: 950px) {
    .ebook-contents {
      float: right;
      margin-left: 40px;
      width: calc( 100% - 400px); } }
  .ebook-contents-paragraph {
    line-height: 2.5;
    font-size: 13px;
    font-weight: normal; }
  .ebook-contents-summary {
    margin-top: 50px;
    font-weight: bold; }
  .ebook-contents-description {
    margin-top: 30px;
    line-height: 2.5; }
  .ebook-contents-link-toc {
    margin-top: 30px; }
    .ebook-contents-link-toc a {
      color: #000000;
      text-transform: uppercase;
      text-decoration: none; }
  .ebook-contents .payment {
    margin-top: 30px; }
    .ebook-contents .payment .twitter-btn {
      color: #FFFFFF;
      background: #1da1f2;
      width: 240px;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 4px;
      display: inline-flex; }
      .ebook-contents .payment .twitter-btn:hover {
        cursor: pointer; }
      .ebook-contents .payment .twitter-btn span {
        margin: auto;
        font-size: 15px; }
        .ebook-contents .payment .twitter-btn span svg {
          display: none; }
    .ebook-contents .payment .emailDownload, .ebook-contents .payment .payment-download-wrapper {
      color: #4a4a4a;
      border: solid 1px #4a4a4a;
      width: 240px;
      height: 60px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 4px;
      display: inline-flex;
      margin-left: 10px; }
      .ebook-contents .payment .emailDownload:hover, .ebook-contents .payment .payment-download-wrapper:hover {
        cursor: pointer; }
      .ebook-contents .payment .emailDownload span, .ebook-contents .payment .payment-download-wrapper span {
        margin: auto; }
      .ebook-contents .payment .emailDownload a, .ebook-contents .payment .payment-download-wrapper a {
        margin: auto;
        text-decoration: none;
        color: #4a4a4a; }
      @media (max-width: 510px) {
        .ebook-contents .payment .emailDownload, .ebook-contents .payment .payment-download-wrapper {
          margin-top: 20px;
          margin-left: 0px; } }
  .ebook-contents .content-separator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #f4f4f4;
    margin-top: 60px;
    padding: 0; }
  .ebook-contents-instructions {
    margin-top: 30px;
    margin-bottom: 60px; }

.author {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #FFFFFF; }
  .author-title {
    width: 100%;
    text-align: center; }
    @media (min-width: 950px) {
      .author-title {
        float: right;
        width: calc( 100% - 400px);
        text-align: left; } }
    .author-title h2 {
      width: 100%;
      font-size: 30px;
      font-weight: normal;
      line-height: 1.5; }
  .author-picture {
    text-align: center;
    width: 100%;
    margin-top: 20px; }
    @media (min-width: 950px) {
      .author-picture {
        float: left;
        width: 400px;
        margin-top: 0px; } }
  .author-about {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    line-height: 2.5;
    font-weight: normal;
    font-size: 13px; }
    @media (min-width: 950px) {
      .author-about {
        width: calc( 100% - 430px);
        float: left;
        padding: 0px; } }
  .author-followtwitter {
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box; }
    .author-followtwitter img {
      vertical-align: middle; }
    @media (min-width: 950px) {
      .author-followtwitter {
        width: calc( 100% - 400px);
        float: right;
        padding: 0px; } }

.ReactModal__Content {
  width: 100%;
  max-width: 960px;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box; }
  .ReactModal__Content .ebook-summary {
    text-align: left;
    padding-left: 30px;
    box-sizing: border-box; }
    @media (min-width: 950px) {
      .ReactModal__Content .ebook-summary {
        float: left;
        padding-left: 0px; } }
  .ReactModal__Content .toc-wrapper {
    width: 100%;
    display: inline-block;
    padding-left: 40px;
    box-sizing: border-box;
    color: #333333; }
    .ReactModal__Content .toc-wrapper .toc-chapter-name {
      margin-top: 30px;
      width: 100%;
      box-sizing: border-box;
      font-weight: bold;
      font-size: 15px; }
    .ReactModal__Content .toc-wrapper .toc-content {
      width: 100%;
      box-sizing: border-box;
      padding: 30px 20px 20px 20px; }
      .ReactModal__Content .toc-wrapper .toc-content-name {
        float: left; }
      .ReactModal__Content .toc-wrapper .toc-content-page {
        float: right; }
