
.ebook-page-main {

    width: 100%;
    display: block;
   
    .ebook-author-wrapper {
        width: 100%;
        background: #183082;
        padding-bottom: 250px;
        display: flex;
    }

    .footer-wrapper { 
        width: 100%;
        display: flex;
     }
 
    .ebook-info-wrapper, .footer-content, .author {
        @include wrapper;
    }

    .footer-content {
        margin-top: -200px;
        margin-bottom: 15px;
        background: #f8f8f8;
        text-align: center;
        padding-bottom: 40px;
        box-shadow: 2px 10px 15px 0px rgba(168,168,168,1);

        &-logo {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        &-title {
            width: 100%;
            font-size: 30px;
            font-weight: normal;
            line-height: 1.5;
        }

        &-text {
            width: 60%;
            margin: auto;
            margin-top: 30px;            
            font: {
                size: 15px;
                weight: normal;
            }
        }

        &-features {
            list-style: none;
            margin-top: 30px;

            li {
                display: inline-flex;
                background: url(/img/feature-icon.png) no-repeat;
                padding-left: 40px;
                font: {
                    size: 15px;
                    weight: normal;
                }    
                padding-top: 5px;
                height: 35px;
                margin-left: 30px;
            }
        }

        &-buttons {
            margin-top: 30px;
            .regular-btn {
                @include button;
                border-color: #cccccc;
            }

            .orange-btn {
                background: #eb5424;
                border-color: #eb5424;
                color :#FFFFFF;
            }
        }

    }
}

.ebook-thumb-wrapper {
    width: 100%;
    text-align: center;
    @media (min-width: $desktop-breakpoint) {
        float: left;
        width: 360px;    
    }
    img {
        box-shadow: 2px 10px 15px 0px rgba(168,168,168,1);
    }
}
.right-container {
    width: 100%;
    text-align: center;
    @media (min-width: $desktop-breakpoint) {
        float: right;
        margin-left: 40px;
        width: calc( 100% - 400px);
        text-align: left;
    }
}
.ebook-summary {

    margin-bottom: 30px;
    color: #333333;

    &-title {
        width: 100%;
        font-size: 30px;
        font-weight: normal;
        line-height: 1.5;
     }
    &-author {
        margin-top: 30px;
        display: block;
        font-size: 15px;
    }
    &-version {
        display: block;
        font-size: 13px;
        margin-top: 10px;
        text-transform: uppercase;
        color: #9b9b9b;    
        img {
            vertical-align: middle;
        }
    }
}

.ebook-contents {
    width: 100%;
    @media (min-width: $desktop-breakpoint) {
        float: right;
        margin-left: 40px;
        width: calc( 100% - 400px);
    }
    &-paragraph {
        line-height: 2.5;
        font-size: 13px;
        font-weight: normal;            
    }
    &-summary {
        margin-top: 50px;            
        font-weight: bold;
    }

    &-description {
        margin-top: 30px;
        line-height: 2.5;            
    } 

    &-link-toc {
        margin-top: 30px;
        a {
            color:#000000;
            text-transform: uppercase;
            text-decoration: none;
        }

    }

    .payment { 
        margin-top: 30px;

        .SocialMediaShareButton--twitter {
            color: #FFFFFF;
            background: #1da1f2;
            width: 240px;
            height: 60px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 4px;
            display: inline-flex;
            &:hover {
                cursor: pointer;
            }
            span { 
                margin: auto;
             }
        }

        .emailDownload, .payment-download-wrapper {
            
            @include button;
        }    
    }

    .content-separator {
        display: block;
        height: 1px;
        border: 0;
        border-top: 2px solid #f4f4f4;
        margin-top: 60px;
        padding: 0;

    }

    &-instructions {
        margin-top: 30px;
        margin-bottom: 60px;
    }
}

.author {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #FFFFFF;
    &-title {
        width: 100%;
        text-align: center;
        @media (min-width: $desktop-breakpoint) {
            float: right;
            width: calc( 100% - 400px);
            text-align: left;
        }

        h2 {
            width: 100%;
            font-size: 30px;
            font-weight: normal;
            line-height: 1.5;
        } 
    }

    &-picture {
        text-align: center;
        width: 100%;
        margin-top: 20px;
        @media (min-width: $desktop-breakpoint) {
            float: left;
            width: 400px;
            margin-top: 0px; 
        }
    } 

    &-about {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        @media (min-width: $desktop-breakpoint) {
            width: calc( 100% - 430px);
            float: left;  
            padding: 0px;
        }          
        margin-top: 20px;
        line-height: 2.5;
        font-weight: normal;
        font-size: 13px;

    }

    &-followtwitter {
        margin-top: 10px;
        font-size: 15px;    
        width: 100%;
        padding: 10px 20px 10px 20px;
        box-sizing: border-box;
        img {
            vertical-align: middle;
        }
        @media (min-width: $desktop-breakpoint) {
            width: calc( 100% - 400px);
            float:right;
            padding: 0px
        }    
        
    }
}