@font-face {
    font-family: 'Fakt ProUI';
    src: url('../fonts/FaktProUI-SemiBold.woff2') format('woff2'),
        url('../fonts/FaktProUI-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt ProUI Blond';
    src: url('../fonts/FaktProUI-Blond.woff2') format('woff2'),
        url('../fonts/FaktProUI-Blond.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt ProUI';
    src: url('../fonts/FaktProUI-Bold.woff2') format('woff2'),
        url('../fonts/FaktProUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '../fonts/Fakt ProUI Normal';
    src: url('../fonts/FaktProUI-Normal.woff2') format('woff2'),
        url('../fonts/FaktProUI-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt ProUI';
    src: url('../fonts/FaktProUI-Medium.woff2') format('woff2'),
        url('../fonts/FaktProUI-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
